<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gupaoedu.seata.account.accountprovider.dal.mappers.AccountMapper">

    <resultMap id="BaseResultMap" type="com.gupaoedu.seata.account.accountprovider.dal.entitys.Account">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="balance" property="balance" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, amount
    </sql>
    <update id="decreaseAccount">
        update tbl_account set balance = balance-${balance} where user_id = #{userId} and balance>0
    </update>

    <update id="testGlobalLock">
        select * from tbl_account where user_id = #{userId} for update
    </update>
</mapper>